*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body{
background-color: #d9eaf5;
height: 100vh;
position:realtive;

}

#cameraOverlay{
    width: 100%;
    height:100%;    
    background: rgba(0,0,0,0.5);
    position:fixed;
    z-index:9999;
    top:0;
    left:550px;
    display:flex;
    align-items:center;
    flex-direction: column;
    gap:10px;
   visibility: hidden;
   pointer-events: none;
   transition: 0.7s ease;
       
    
   
}

#cameraOverlay.active{
    visibility: visible;
    pointer-events: auto;
    left: 0;
}

#reader{
    background-color: #ffffff;
    align-items: center;
    width:300px;
    border-radius: 20px;
    
    
}



#div-close-btn{
    height:45px;
    width:100%;
    display:flex;
    justify-content: end;
    align-items: center;
   
   
}

#div-close-btn #closeOverlay{
    display:block;
    height: 30px;
    width:30px;
    background-color: red;
}


.navbar{
background: #f8f9fc;
box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
position:fixed;
top:0;
width:100%;
}

.QR{
    background: #f8f9fc;
    box-shadow:5px 5px 5px rgba(0,0,0,0.2);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.scanner .image-qr img {
    width: 900px;
    border-radius:15px;
}


.scanner button{
    font-size:20px;
    font-weight:700;
}


.links{
    background: #f8f9fc;
    box-shadow:0px 0px 5px rgba(0,0,0,0.5);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.links h3{
    display:inline-block;
    font-weight:650;
    color:black;
    
}

.links .container .card{
    min-width:250px;
    min-height:100px;
    
}

.links .container button{
    max-width: 290px;
    font-size: 20px;
    font-weight: 700;
}


.toast{
    position:fixed;
    z-index:999;
    right:-350px;
    bottom:15px;
    margin-left: 10px;
}

.scan-state{
    text-align: center;
}

.animationToast{
    animation-name:toast;
    animation-duration:2s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}


@keyframes toast{
    0%{
        right:-350px;
    }
    100%{
        right: 15px;
        
    }

}